<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{makeAnOrder}"></title>
</head>
<body>

<h1 th:text="#{makeAnOrder}"></h1>

<span th:if="${userCartProducts.isEmpty}" th:text="#{yourCartIsEmpty}"></span>

<table th:if="${createOrderRequestErrors != null}">
    <tr th:each="error : ${createOrderRequestErrors}">
        <td th:text="${error.field}" />
        <td th:text="${error.message}" />
    </tr>
</table>

<table th:if="${not userCartProducts.isEmpty}">
    <tr>
        <th th:text="#{product.name}"></th>
        <th th:text="#{description}"></th>
        <th th:text="#{price}"></th>
        <th th:text="#{quantity}"></th>
    </tr>
    <tr th:each="cartProduct : ${userCartProducts}">
        <td th:text="${cartProduct.product.name}" />
        <td th:text="${cartProduct.product.description}" />
        <td th:text="${cartProduct.product.price}" />
        <td th:text="${cartProduct.quantity}" />
    </tr>
</table>
<br>
<div th:if="${not userCartProducts.isEmpty}">
    <b th:text="#{total} + ': € '"></b><b th:text="${createOrderRequest.amount}"></b>
</div>
<br>

<form action="/order/make" th:object="${createOrderRequest}" method="post">
    <input type="hidden" th:value="${cart.id}" name="cartId" />
    <label th:text="#{form.field.city} + '*:'"></label><br>
    <input type="text" th:field="${createOrderRequest.city}" /><br>
    <label th:text="#{form.field.street} + '*:'"></label><br>
    <input type="text" th:field="${createOrderRequest.street}" /><br>
    <label th:text="#{form.field.buildingNumber} + '*:'"></label><br>
    <input type="text" th:field="${createOrderRequest.buildingNumber}" /><br>
    <label th:text="#{form.field.apartmentNumber} + ':'"></label><br>
    <input type="text" th:field="${createOrderRequest.apartmentNumber}" /><br><br>
    <button type="submit" th:text="#{makeAnOrder}">Make an order</button>
</form>

</body>
</html>