<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplatePage.html">
<head>
    <meta charset="UTF-8">
    <title>Pasūtījuma informācijas labošana</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Pasūtījuma informācijas labošana</h1>

    <form th:action="@{/orders/} + ${updateOrderRequest.id} + @{/update}" th:object="${updateOrderRequest}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <label>Groza ID:</label><br>
        <input type="number" th:field="*{cartId}"/><br>
        <label>Statuss:</label><br>
        <select th:field="*{status}">
            <option th:value="RECEIVED" th:text="Saņemts"></option>
            <option th:value="PREPARING" th:text="Sagatavošanā"></option>
            <option th:value="COMPLETED" th:text="Izpildīts"></option>
        </select><br>
        <label>Summa:</label><br>
        <input type="number" step="0.01" th:field="*{amount}"/><br>
        <label>Izveidošanas datums:</label><br>
        <input type="text" th:field="*{dateCreated}"><br>
        <label>Izpildes datums:</label><br>
        <input type="text" th:field="*{dateCompleted}"><br>
        <label>Pilsēta:</label><br>
        <input type="text" th:field="*{city}"/><br>
        <label>Iela:</label><br>
        <input type="text" th:field="*{street}"/><br>
        <label>Mājas numurs:</label><br>
        <input type="text" th:field="*{buildingNumber}"/><br>
        <label>Dzīvokļa numurs:</label><br>
        <input type="text" th:field="*{apartmentNumber}"/><br>
        <br>
        <br>

        <input type="submit" value="Labot"/>
        <input type="reset" value="Attīrīt formu"/>
    </form>

    <table th:if="${errors != null}">
        <tr th:each="error : ${errors}">
            <td th:text="${error.field}" />
            <td th:text="${error.message}" />
        </tr>
    </table>

    <span th:if="${updatedOrder != null}">Pasūtījuma informācija tika veiksmīgi labota!</span>
</div>

</body>
</html>