<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplatePage.html">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Orders</h1>
    <br>
    <a href="/orders/create">Create an order</a>
    <br>
    <a href="/orders/find">Find order by ID</a>
    <br>
    <a href="/orders/list">Find all orders</a>
    <br>
</div>

</body>
</html>