<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplatePage.html">
<head>
    <meta charset="UTF-8">
    <title>Pasūtījumi</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Pasūtījumi</h1>

    <a href="/orders/create">Noformēt pasūtījumu</a>
    <br>
    <a href="/orders/find">Meklēt pasūtījumu pēc ID</a>
    <br>
    <a href="/orders/list">Visi pasūtījumi</a>
    <br>
</div>
</body>
</html>