<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplatePage.html">
<head>
  <meta charset="UTF-8">
  <title>Meklēt pasūtījumu pēc ID</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Meklēt pasūtījumu pēc ID</h1>
    <br>

    <form action="/orders/find/" method="get">
      <label>Pasūtījuma ID:</label><br>
      <input type="text" name="id"/><br>
      <br>
      <br>

      <input type="submit" value="Meklēt"/>
      <input type="reset" value="Attīrīt formu"/>
    </form>

    <table th:if="${errors != null}">
        <tr th:each="error : ${errors}">
          <td th:text="${error.field}" />
          <td th:text="${error.message}" />
        </tr>
    </table>

    <table th:if="${foundOrder != null}">
        <tr>
            <th>ID</th>
            <th>Groza ID</th>
            <th>Statuss</th>
            <th>Summa</th>
            <th>Izveidošanas datums</th>
            <th>Izpildes datums</th>
            <th>Pilsēta</th>
            <th>Iela</th>
            <th>Mājas numurs</th>
            <th>Dzīvokļa numurs</th>
        </tr>
        <tr>
            <td th:text="${foundOrder?.id}" />
            <td th:text="${foundOrder?.cart.id}" />
            <td th:text="${foundOrder?.status}" />
            <td th:text="${foundOrder?.amount}" />
            <td th:text="${foundOrder?.dateCreated}" />
            <td th:text="${foundOrder?.dateCompleted}" />
            <td th:text="${foundOrder?.city}" />
            <td th:text="${foundOrder?.street}" />
            <td th:text="${foundOrder?.buildingNumber}" />
            <td th:text="${foundOrder?.apartmentNumber}" />
        </tr>
    </table>


    <span th:if="${orderNotFound == true}">Pasūtījums netika atrasts.</span>
</div>

</body>
</html>