<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplatePage.html">
<head>
  <meta charset="UTF-8">
  <title>Visi pasūtījumi</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Visi pasūtījumi</h1>

    <table th:if="${deleteByIdRequestErrors != null}">
      <tr th:each="error : ${deleteByIdRequestErrors}" class="text-danger">
        <td th:text="${error.field}" />
        <td th:text="${error.message}" />
      </tr>
    </table>

    <span th:if="${orderToUpdateNotFound == true}">Pasūtījums netika atrasts.</span>

    <span th:if="${isOrderDeleted == true}">Pasūtījums tika veiksmīgi dzēsts</span>

    <table th:if="${not orderDtos.isEmpty}" class="table">
      <tr>
        <th>ID</th>
        <th>Groza ID</th>
        <th>Statuss</th>
        <th>Summa</th>
        <th>Izveidošanas datums</th>
        <th>Izpildes datums</th>
        <th>Piegādes veids</th>
        <th>Pilsēta</th>
        <th>Iela</th>
        <th>Mājas numurs</th>
        <th>Dzīvokļa numurs</th>
        <th>Pasūtījuma produkti</th>
      </tr>
      <tr th:each="orderDto : ${orderDtos}">
        <td th:text="${orderDto.order.id}" />
        <td th:text="${orderDto.order.cart.id}" />
        <td th:text="${orderDto.order.status}" />
        <td th:text="${orderDto.order.amount} + ' €'" />
        <td th:text="${#temporals.format(orderDto.order.dateCreated, 'dd.MM.yyyy HH:mm')}" />
        <td th:text="${#temporals.format(orderDto.order.dateCompleted, 'dd.MM.yyyy HH:mm')}" />
        <td>
          <div th:if="${orderDto.order.isForTakeaway}">
            <span>Saņemšana picērijā</span>
          </div>
          <div th:if="${!orderDto.order.isForTakeaway}">
            <span>Piegāde ar kurjeru</span>
          </div>
        </td>
        <td th:text="${orderDto.order.city}" />
        <td th:text="${orderDto.order.street}" />
        <td th:text="${orderDto.order.buildingNumber}" />
        <td th:text="${orderDto.order.apartmentNumber}" />
        <td>
          <div th:each="cartProduct : ${orderDto.orderProducts}">
            <span th:text="${cartProduct.product.name}" />
            <span th:text="'(' + ${cartProduct.quantity} + ' gab.)'" />
          </div>
        </td>
        <td>
          <a th:href="@{/orders/} + ${orderDto.order.id} + @{/update}">Labot</a>
        </td>
        <td>
          <div th:if="${#authentication.principal.role.name == 'ADMIN'}">
            <form action="/orders/delete" th:object="${deleteByIdRequest}" method="post">
              <input type="hidden" th:value="${orderDto.order.id}" name="id" />
              <button type="submit">Dzēst</button>
            </form>
          </div>
        </td>
      </tr>
    </table>

    <span th:if="${orderDtos.isEmpty}">Pasūtījumi netika atrasti.</span>
</div>

</body>
</html>