<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplatePage.html">
<head>
    <meta charset="UTF-8">
    <title>Mani pasūtījumi</title>
</head>
<body>

<div layout:fragment="content">
  <h1>Mani pasūtījumi</h1>
  <br>
  <table th:if="${not userOrders.isEmpty}" class="table">
    <tr>
      <th>ID</th>
      <th>Summa</th>
      <th>Izveidošanas datums</th>
      <th>Izpildes datums</th>
      <th>Pilsēta</th>
      <th>Iela</th>
      <th>Mājas numurs</th>
      <th>Dzīvokļa numurs</th>
      <th>Statuss</th>
    </tr>
    <tr th:each="order : ${userOrders}">
      <td th:text="${order.id}" />
      <td th:text="${order.amount} + ' €'" />
      <td th:text="${order.dateCreated}" />
      <td th:text="${order.dateCompleted}" />
      <td th:text="${order.city}" />
      <td th:text="${order.street}" />
      <td th:text="${order.buildingNumber}" />
      <td th:text="${order.apartmentNumber}" />
      <td>
        <div th:if="${order.status.toString} == 'RECEIVED'">
          <span class="text-warning">Saņemts</span>
        </div>
        <div th:if="${order.status.toString} == 'PREPARING'">
          <span class="text-primary">Sagatavošanā</span>
        </div>
        <div th:if="${order.status.toString} == 'COMPLETED'">
          <span class="text-success">Izpildīts</span>
        </div>
      </td>
    </tr>
  </table>
  <div th:if="${userOrders.isEmpty}" class="alert alert-danger alert-dismissible fade show" role="alert">
    <span>Jūs pagaidām neesat veicis nevienu pasūtījumu.</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>

</body>
</html>