<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a cart</title>
</head>
<body>

<h1>Create a cart</h1>

<form action="/carts/create" th:object="${request}" method="post">
  <label>User ID:</label><br>
  <input type="text" th:field="*{userId}"/><br>
  <label>Status:</label><br>
  <select th:field="*{status}">
    <option th:value="ACTIVE" th:text="Active"></option>
    <option th:value="INACTIVE" th:text="Inactive"></option>
  </select>
  <br>
  <br>

  <input type="submit" value="Create"/>
  <input type="reset" value="Clear"/>
</form>

<table th:if="${errors != null}">
  <tr th:each="error : ${errors}">
    <td th:text="${error.field}" />
    <td th:text="${error.message}" />
  </tr>
</table>

<span th:if="${createdCart != null}">The cart was created successfully!</span>

</body>
</html>