<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplatePage.html">
<head>
    <meta charset="UTF-8">
    <title>Izveidot grozu</title>
</head>
<body>

<div layout:fragment="content">
  <h1>Izveidot grozu</h1>
  <br>
  <form action="/carts/create" th:object="${request}" method="post">
    <label>Lietotāja ID:</label><br>
    <input type="text" th:field="*{userId}"/><br>
    <label>Statuss:</label><br>
    <select th:field="*{status}">
      <option th:value="ACTIVE" th:text="Aktīvs"></option>
      <option th:value="INACTIVE" th:text="Neaktīvs"></option>
    </select>
    <br>
    <br>

    <input type="submit" value="Izveidot"/>
  </form>

  <table th:if="${errors != null}">
    <tr th:each="error : ${errors}">
      <td th:text="${error.field}" />
      <td th:text="${error.message}" />
    </tr>
  </table>

  <span th:if="${createdCart != null}">Grozs tika veiksmīgi izveidots</span>
</div>

</body>
</html>