<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplatePage.html">
<head>
  <meta charset="UTF-8">
  <title>Meklēt grozu pēc ID</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Meklēt grozu pēc ID</h1>
    <br>
    <form action="/carts/find/" method="get">
        <label>Groza ID:</label><br>
        <input type="text" name="id"/><br>
        <br>
        <br>

        <input type="submit" value="Meklēt"/>
        <input type="reset" value="Attīrīt formu"/>
    </form>

    <table th:if="${errors != null}">
        <tr th:each="error : ${errors}">
            <td th:text="${error.field}" />
            <td th:text="${error.message}" />
        </tr>
    </table>

    <table th:if="${foundCart != null}" class="table">
        <tr>
            <th>ID</th>
            <th>Lietotāja ID</th>
            <th>Lietotāja vārds</th>
            <th>Lietotāja uzvārds</th>
            <th>Lietotāja e-pasts</th>
            <th>Groza statuss</th>
        </tr>
        <tr>
            <td th:text="${foundCart.id}" />
            <td th:text="${foundCart.user.id}" />
            <td th:text="${foundCart.user.firstName}" />
            <td th:text="${foundCart.user.lastName}" />
            <td th:text="${foundCart.user.email}" />
            <td th:text="${foundCart.status}" />
        </tr>
    </table>


    <span th:if="${cartNotFound == true}">Grozs netika atrasts.</span>
</div>

</body>
</html>