<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplatePage.html">
<head>
  <meta charset="UTF-8">
  <title>Visi grozi</title>
</head>
<body>

<div layout:fragment="content">
  <h1>Visi grozi</h1>
  <br>
  <table th:if="${deleteByIdRequestErrors != null}">
    <tr th:each="error : ${deleteByIdRequestErrors}" class="text-danger">
      <td th:text="${error.field}" />
      <td th:text="${error.message}" />
    </tr>
  </table>

  <span th:if="${cartToUpdateNotFound == true}">Grozs netika atrasts.</span>

  <span th:if="${isCartDeleted == true}">Grozs tika veiksmīgi dzēsts</span>

  <table th:if="${not carts.isEmpty}" class="table">
    <tr>
      <th>ID</th>
      <th>Lietotāja ID</th>
      <th>Lietotāja vārds</th>
      <th>Lietotāja uzvārds</th>
      <th>Lietotāja e-pasts</th>
      <th>Groza statuss</th>
    </tr>
    <tr th:each="cart : ${carts}">
      <td th:text="${cart.id}" />
      <td th:text="${cart.user.id}" />
      <td th:text="${cart.user.firstName}" />
      <td th:text="${cart.user.lastName}" />
      <td th:text="${cart.user.email}" />
      <td th:text="${cart.status}" />
      <td>
        <a th:href="@{/carts/} + ${cart.id} + @{/update}">Labot</a>
      </td>
      <td>
        <form action="/carts/delete" th:object="${deleteByIdRequest}" method="post">
          <input type="hidden" th:value="${cart.id}" name="id" />
          <button type="submit">Dzēst</button>
        </form>
      </td>
    </tr>
  </table>

  <span th:if="${carts.isEmpty}">Grozi netika atrasti.</span>
</div>

</body>
</html>