<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplatePage.html">
<head>
    <meta charset="UTF-8">
    <title>Groza informācijas labošana</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Groza informācijas labošana</h1>
    <br>
    <form th:action="@{/carts/} + ${updateCartRequest.id} + @{/update}" th:object="${updateCartRequest}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <label>Lietotāja ID:</label><br>
        <input type="text" th:field="*{userId}"/><br>
        <label>Statuss:</label><br>
        <select th:field="*{status}">
            <option th:value="ACTIVE" th:text="Aktīvs"></option>
            <option th:value="INACTIVE" th:text="Neaktīvs"></option>
        </select>
        <br>
        <br>

        <input type="submit" value="Labot"/>
    </form>

    <table th:if="${errors != null}">
        <tr th:each="error : ${errors}">
            <td th:text="${error.field}" />
            <td th:text="${error.message}" />
        </tr>
    </table>

    <span th:if="${updatedCart != null}">Grozs tika veiksmīgi labots</span>
</div>

</body>
</html>