<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplatePage.html">
<head>
    <meta charset="UTF-8">
    <title>Grozi</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Grozi</h1>
    <br>
    <a href="/carts/create">Izveidot grozu</a>
    <br>
    <a href="/carts/list">Visi grozi</a>
    <br>
    <a href="/carts/find">Meklēt grozu pēc ID</a>
    <br>
</div>

</body>
</html>