<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{cart}"></title>
</head>
<body>

<h1 th:text="#{cart}"></h1>

<table th:if="${deleteCartProductRequestErrors != null}">
    <tr th:each="error : ${deleteCartProductRequestErrors}">
        <td th:text="${error.field}" />
        <td th:text="${error.message}" />
    </tr>
</table>

<table th:if="${updatedCartProductRequestErrors != null}">
    <tr th:each="error : ${updatedCartProductRequestErrors}">
        <td th:text="${error.field}" />
        <td th:text="${error.message}" />
    </tr>
</table>

<span th:if="${isCartProductDeleted == true}" th:text="#{userCartPage.isCartProductDeleted}"></span>

<table th:if="${not userCartProducts.isEmpty}">
    <tr>
        <th th:text="#{userCartPage.name}"></th>
        <th th:text="#{userCartPage.description}"></th>
        <th th:text="#{userCartPage.price}"></th>
        <th th:text="#{userCartPage.quantity}"></th>
    </tr>
    <tr th:each="cartProduct : ${userCartProducts}">
        <td th:text="${cartProduct.product.name}" />
        <td th:text="${cartProduct.product.description}" />
        <td th:text="${cartProduct.product.price}" />
        <td>
            <form action="/cart/updateCartProductQuantity" th:object="${updateCartProductRequest}" method="post">
                <input type="hidden" th:value="${cartProduct.id}" name="id" />
                <input type="hidden" th:value="${cartProduct.cart.id}" name="cartId" />
                <input type="hidden" th:value="${cartProduct.product.id}" name="productId" />
                <input type="number" min="1" th:value="${cartProduct.quantity}" name="quantity" />
            </form>
        </td>
        <td>
            <form action="/cart/deleteCartProduct" th:object="${deleteCartProductRequest}" method="post">
                <input type="hidden" th:value="${cartProduct.id}" name="id" />
                <button type="submit" th:text="#{userCartPage.delete}"></button>
            </form>
        </td>
    </tr>
</table>

<br>

<div id="totalSum" th:if="${not userCartProducts.isEmpty}">
    <b th:text="#{userCartPage.total} + ': € '"></b><b id="sumValue"></b>
    <br>
    <br>
    <a href="/order/make" th:text="#{userCartPage.makeAnOrder}"></a>
</div>

<span th:if="${userCartProducts.isEmpty}" th:text="#{userCartPage.cartIsEmpty}"></span>

<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function() {
        calculateTotalSum();
    });

    function calculateTotalSum() {
        var cartProducts = /*[[${userCartProducts}]]*/ [];
        var sum = 0;

        for (var i = 0; i < cartProducts.length; i++) {
            var cartProduct = cartProducts[i];
            var price = cartProduct.product.price;
            var quantity = cartProduct.quantity;
            var productSum = price * quantity;
            sum += productSum;
        }

        var sumElement = document.getElementById("sumValue");
        sumElement.textContent = sum.toFixed(2); // Display the sum with 2 decimal places
    }
</script>

</body>
</html>