<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Meklēt produktu pēc ID</title>
</head>
<body>

<h1>Meklēt produktu pēc ID</h1>

<form action="/products/find/" method="get">
  <label>Produkta ID:</label><br>
  <input type="text" name="id"/><br>
  <br>
  <br>

  <input type="submit" value="Meklēt"/>
  <input type="reset" value="Attīrīt formu"/>
</form>

<table th:if="${errors != null}">
    <tr th:each="error : ${errors}">
      <td th:text="${error.field}" />
      <td th:text="${error.message}" />
    </tr>
</table>

<table th:if="${foundProduct != null}">
    <tr>
        <th>ID</th>
        <th>Nosaukums</th>
        <th>Apraksts</th>
        <th>Cena</th>
        <th>Tips</th>
    </tr>
    <tr>
      <td th:text="${foundProduct?.id}" />
      <td th:text="${foundProduct?.name}" />
      <td th:text="${foundProduct?.description}" />
      <td th:text="${foundProduct?.price}" />
      <td th:text="${foundProduct?.type}" />
    </tr>
</table>

    <span th:if="${productNotFound == true}">Produkts netika atrasts.</span>

</body>
</html>