<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplatePage.html">
<head>
    <meta charset="UTF-8">
    <title>Labot produkta informāciju</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Labot produkta informāciju</h1>

    <form th:action="@{/products/} + ${request.id} + @{/update}" th:object="${request}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>
        <label>Nosaukums:</label><br>
        <input type="text" th:field="*{name}"/><br>
        <label>Apraksts:</label><br>
        <input type="text" th:field="*{description}"/><br>
        <label>Cena:</label><br>
        <input type="number" step="0.01" th:field="*{price}"/><br>
        <label>Tips:</label><br>
        <select th:field="*{type}">
            <option th:value="PIZZA" th:text="Pica"></option>
            <option th:value="DRINK" th:text="Dzēriens"></option>
            <option th:value="DESSERT" th:text="Deserts"></option>
        </select><br>
        <label>Attēls:</label><br>
        <input type="file" th:field="*{image}" accept="image/*">
        <br>
        <br>

        <input type="submit" value="Labot"/>
        <input type="reset" value="Attīrīt formu"/>
    </form>

    <table th:if="${errors != null}">
        <tr th:each="error : ${errors}">
            <td th:text="${error.field}" />
            <td th:text="${error.message}" />
        </tr>
    </table>

    <span th:if="${updatedProduct != null}">Produkta informācija tika veiksmīgi labota!</span>
</div>

</body>
</html>