<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplatePage.html">
<head>
    <meta charset="UTF-8">
    <title>Produkti</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Produkti</h1>


    <a href="/products/create">Pievienot produktu</a>
    <br>
    <a href="/products/find">Meklēt produktu pēc ID</a>
    <br>
    <a href="/products/list">Visi produkti</a>
    <br>
</div>

</body>
</html>