<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplatePage.html">
<head>
    <meta charset="UTF-8">
    <title>Pievienot produktu</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Pievienot produktu</h1>

    <form action="/products/create" th:object="${request}" method="post" enctype="multipart/form-data">
        <label>Nosaukums<span style="color: red">*</span>:</label><br>
        <input type="text" th:field="*{name}"/><br>
        <label>Apraksts<span style="color: red">*</span>:</label><br>
        <input type="text" th:field="*{description}"/><br>
        <label>Cena<span style="color: red">*</span>:</label><br>
        <input type="number" step="0.01" th:field="*{price}"/><br>
        <label>Tips<span style="color: red">*</span>:</label><br>
        <select th:field="*{type}">
            <option th:value="PIZZA" th:text="Pica"></option>
            <option th:value="DRINK" th:text="Dzēriens"></option>
            <option th:value="DESSERT" th:text="Deserts"></option>
        </select><br>
        <label>Attēls:</label><br>
        <input type="file" th:field="*{image}" accept="image/png, image/jpg">
        <br>
        <br>

        <input type="submit" value="Izveidot"/>
    </form>

    <table th:if="${errors != null}">
        <tr th:each="error : ${errors}">
            <td th:text="${error.field}" />
            <td th:text="${error.message}" />
        </tr>
    </table>

    <span th:if="${createdProduct != null}">Produkts tika veiksmīgi izveidots</span>
</div>

</body>
</html>