<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Find product by ID</title>
</head>
<body>

<h1>Find product by ID</h1>

<form id="findProductForm" action="/products/" method="get">
  <label>Product ID:</label><br>
  <input type="text" name="id" id="productId"/><br>
  <br>
  <br>

  <input type="submit" value="Find"/>
  <input type="reset" value="Clear"/>
</form>

<script>
    document.getElementById("findProductForm").addEventListener("submit", function(event) {
        event.preventDefault();
        let productId = document.getElementById("productId").value;
        window.location.href = "/products/" + productId;
    });
</script>

</body>
</html>