<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplatePage.html">
<head>
  <meta charset="UTF-8">
  <title>Meklēt lietotāju pēc ID</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Meklēt lietotāju pēc ID</h1>

    <form action="/users/find/" method="get">
      <label>Lietotāja ID:</label><br>
      <input type="text" name="id"/><br>
      <br>
      <br>

      <input type="submit" value="Meklēt"/>
    </form>

    <table th:if="${errors != null}">
        <tr th:each="error : ${errors}">
          <td th:text="${error.field}" />
          <td th:text="${error.message}" />
        </tr>
    </table>

    <table th:if="${foundUser != null}">
        <tr>
          <th>ID</th>
          <th>Vārds</th>
          <th>Uzvārds</th>
          <th>E-pasts</th>
          <th>Telefona numurs</th>
          <th>Loma</th>
        </tr>
        <tr>
          <td th:text="${foundUser?.id}" />
          <td th:text="${foundUser?.firstName}" />
          <td th:text="${foundUser?.lastName}" />
          <td th:text="${foundUser?.email}" />
          <td th:text="${foundUser?.phone}" />
          <td th:text="${foundUser?.role}" />
        </tr>
    </table>

    <span th:if="${userNotFound == true}">Lietotājs netika atrasts.</span>
</div>

</body>
</html>