<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplatePage.html">
<head>
  <meta charset="UTF-8">
  <title>Visi lietotāji</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Visi lietotāji</h1>

    <table th:if="${deleteByIdRequestErrors != null}">
      <tr th:each="error : ${deleteByIdRequestErrors}" class="text-danger">
        <td th:text="${error.field}" />
        <td th:text="${error.message}" />
      </tr>
    </table>

    <span th:if="${userToUpdateNotFound == true}">Lietotājs netika atrasts.</span>

    <span th:if="${userDeleted == true}">Lietotājs tika veiksmīgi dzēsts</span>

    <table th:if="${not users.isEmpty}" class="table">
      <tr>
        <th>ID</th>
        <th>Vārds</th>
        <th>Uzvārds</th>
        <th>E-pasts</th>
        <th>Telefona numurs</th>
        <th>Loma</th>
      </tr>
      <tr th:each="user : ${users}">
        <td th:text="${user.id}" />
        <td th:text="${user.firstName}" />
        <td th:text="${user.lastName}" />
        <td th:text="${user.email}" />
        <td th:text="${user.phone}" />
        <td th:text="${user.role}" />
        <td>
            <div th:if="${#authentication.principal.role.name == 'ADMIN'}">
                <a th:href="@{/users/} + ${user.id} + @{/update}">Labot</a>
            </div>
        </td>
        <td>
            <div th:if="${#authentication.principal.role.name == 'ADMIN'}">
              <form action="/users/delete" th:object="${deleteByIdRequest}" method="post">
                <input type="hidden" th:value="${user.id}" name="id" />
                <button type="submit">Dzēst</button>
              </form>
            </div>
        </td>
      </tr>
    </table>

    <span th:if="${users.isEmpty}">Lietotāji netika atrasti.</span>
</div>

</body>
</html>