<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Find user by ID</title>
</head>
<body>

<h1>Find user by ID</h1>

<form action="/users/findById/" method="get">
  <label>User ID:</label><br>
  <input type="text" name="id"/><br>
  <br>
  <br>

  <input type="submit" value="Find"/>
  <input type="reset" value="Clear"/>
</form>

<table th:if="${errors != null}">
    <tr th:each="error : ${errors}">
      <td th:text="${error.field}" />
      <td th:text="${error.message}" />
    </tr>
</table>

<table th:if="${foundUser != null}">
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Role</th>
    </tr>
    <tr>
      <td th:text="${foundUser?.id}" />
      <td th:text="${foundUser?.firstName}" />
      <td th:text="${foundUser?.lastName}" />
      <td th:text="${foundUser?.email}" />
      <td th:text="${foundUser?.phone}" />
      <td th:text="${foundUser?.role}" />
    </tr>
</table>


    <span th:if="${userNotFound == true}">User not found.</span>

</body>
</html>