<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a user</title>
</head>
<body>

<h1>Create a user</h1>

<form action="/users/create" th:object="${request}" method="post">
    <label>First name:</label><br>
    <input type="text" th:field="*{firstName}"/><br>
    <label>Last name:</label><br>
    <input type="text" th:field="*{lastName}"/><br>
    <label>Email:</label><br>
    <input type="text" th:field="*{email}"/><br>
    <label>Password:</label><br>
    <input type="password" th:field="*{password}"/><br>
    <label>Phone:</label><br>
    <input type="text" th:field="*{phone}"/><br>
    <label>Role:</label><br>
    <select th:field="*{role}">
        <option th:value="CLIENT" th:text="Client"></option>
        <option th:value="ADMIN" th:text="Admin"></option>
    </select>
    <br>
    <br>

    <input type="submit" value="Create"/>
    <input type="reset" value="Clear"/>
</form>

<table th:if="${errors != null}">
    <tr th:each="error : ${errors}">
        <td th:text="${error.field}" />
        <td th:text="${error.message}" />
    </tr>
</table>

<span th:if="${createdUser != null}">The user was created successfully!</span>

</body>
</html>