<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Labot lietotāja informāciju</title>
</head>
<body>

<h1>Labot lietotāja informāciju</h1>

<form th:action="@{/users/} + ${user.id} + @{/update}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <label>Vārds:</label><br>
    <input type="text" th:field="*{firstName}"/><br>
    <label>Uzvārds:</label><br>
    <input type="text" th:field="*{lastName}"/><br>
    <label>E-pasts:</label><br>
    <input type="text" th:field="*{email}"/><br>
    <label>Parole:</label><br>
    <input type="text" th:field="*{password}"/><br>
    <label>Telefona numurs:</label><br>
    <input type="text" th:field="*{phone}"/><br>
    <label>Loma:</label><br>
    <select th:field="*{role}">
        <option th:value="CLIENT" th:text="Klients"></option>
        <option th:value="ADMIN" th:text="Administrators"></option>
    </select>
    <br>
    <br>

    <input type="submit" value="Labot"/>
    <input type="reset" value="Attīrīt formu"/>
</form>

<table th:if="${errors != null}">
    <tr th:each="error : ${errors}">
        <td th:text="${error.field}" />
        <td th:text="${error.message}" />
    </tr>
</table>

<span th:if="${updatedUser != null}">Lietotāja informācija tika veiksmīgi labota!</span>

</body>
</html>