<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplatePage.html">
<head>
    <meta charset="UTF-8">
    <title>Labot lietotāja informāciju</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Labot lietotāja informāciju</h1>

    <form th:action="@{/users/} + ${user.id} + @{/update}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <label>Vārds<span style="color: red">*</span>:</label><br>
        <input type="text" th:field="*{firstName}"/><br>
        <label>Uzvārds<span style="color: red">*</span>:</label><br>
        <input type="text" th:field="*{lastName}"/><br>
        <label>E-pasts<span style="color: red">*</span>:</label><br>
        <input type="text" th:field="*{email}"/><br>
        <label>Parole:</label><br>
        <input type="password" th:field="*{password}"/><br>
        <label>Telefona numurs<span style="color: red">*</span>:</label><br>
        <input type="text" th:field="*{phone}"/><br>
        <label>Loma<span style="color: red">*</span>:</label><br>
        <select th:field="*{role}">
            <option th:value="CLIENT" th:text="Klients"></option>
            <option th:value="EMPLOYEE" th:text="Darbinieks"></option>
            <option th:value="ADMIN" th:text="Administrators"></option>
        </select>
        <br>
        <br>

        <input type="submit" value="Saglabāt"/>
    </form>

    <table th:if="${errors != null}">
        <tr th:each="error : ${errors}" class="text-danger">
            <td th:text="${error.field}" />
            <td th:text="${error.message}" />
        </tr>
    </table>

    <span th:if="${updatedUser != null}">Profila informācija tika veiksmīgi saglabāta</span>
</div>

</body>
</html>