<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplatePage.html">
<head>
  <meta charset="UTF-8">
  <title>Visi grozu produkti</title>
</head>
<body>

<div layout:fragment="content">
  <h1>Visi grozu produkti</h1>
  <br>
  <table th:if="${deleteByIdRequestErrors != null}">
    <tr th:each="error : ${deleteByIdRequestErrors}">
      <td th:text="${error.field}" />
      <td th:text="${error.message}" />
    </tr>
  </table>

  <span th:if="${cartProductToUpdateNotFound == true}">Groza produkts netika atrasts.</span>

  <span th:if="${isCartProductDeleted == true}">Produkts tika veiksmīgi dzēsts no groza</span>

  <table th:if="${not cartProducts.isEmpty}" class="table">
    <tr>
      <th>ID</th>
      <th>Groza ID</th>
      <th>Produkta ID</th>
      <th>Produkta nosaukums</th>
      <th>Daudzums</th>
    </tr>
    <tr th:each="cartProduct : ${cartProducts}">
      <td th:text="${cartProduct.id}" />
      <td th:text="${cartProduct.cart.id}" />
      <td th:text="${cartProduct.product.id}" />
      <td th:text="${cartProduct.product.name}" />
      <td th:text="${cartProduct.quantity}" />
      <td>
        <a th:href="@{/cart-products/} + ${cartProduct.id} + @{/update}">Labot</a>
      </td>
      <td>
        <form action="/cart-products/delete" th:object="${deleteByIdRequest}" method="post">
          <input type="hidden" th:value="${cartProduct.id}" name="id" />
          <button type="submit">Izņemt no groza</button>
        </form>
      </td>
    </tr>
  </table>

  <span th:if="${cartProducts.isEmpty}">Grozu produkti netika atrasti.</span>
</div>

</body>
</html>