<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplatePage.html">
<head>
  <meta charset="UTF-8">
  <title>Meklēt groza produktu pēc ID</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Meklēt groza produktu pēc ID</h1>
    <br>
    <form action="/cart-products/find/" method="get">
        <label>Groza produkta ID:</label><br>
        <input type="text" name="id"/><br>
        <br>
        <br>

        <input type="submit" value="Meklēt"/>
        <input type="reset" value="Attīrīt formu"/>
    </form>

    <table th:if="${errors != null}">
        <tr th:each="error : ${errors}">
            <td th:text="${error.field}" />
            <td th:text="${error.message}" />
        </tr>
    </table>

    <table th:if="${foundCartProduct != null}" class="table">
        <tr>
            <th>ID</th>
            <th>Groza ID</th>
            <th>Produkta ID</th>
            <th>Produkta nosaukums</th>
            <th>Daudzums</th>
        </tr>
        <tr>
            <td th:text="${foundCartProduct.id}" />
            <td th:text="${foundCartProduct.cart.id}" />
            <td th:text="${foundCartProduct.product.id}" />
            <td th:text="${foundCartProduct.product.name}" />
            <td th:text="${foundCartProduct.quantity}" />
        </tr>
    </table>

    <span th:if="${cartProductNotFound == true}">Groza produkts netika atrasts.</span>
</div>

</body>
</html>