<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplatePage.html">
<head>
    <meta charset="UTF-8">
    <title>Pievienot produktu grozam</title>
</head>
<body>

<div layout:fragment="content">
  <h1>Pievienot produktu grozam</h1>
  <br>
  <form action="/cart-products/add" th:object="${request}" method="post">
    <label>Groza ID:</label><br>
    <input type="text" th:field="*{cartId}"/><br>
    <label>Produkta ID:</label><br>
    <input type="text" th:field="*{productId}"/><br>
    <label>Daudzums:</label><br>
    <input type="number" min="1" th:field="*{quantity}"/><br>
    <br>
    <br>

    <input type="submit" value="Pievienot"/>
  </form>

  <table th:if="${errors != null}">
    <tr th:each="error : ${errors}">
      <td th:text="${error.field}" />
      <td th:text="${error.message}" />
    </tr>
  </table>

  <span th:if="${addedCartProduct != null}">Produkts tika veiksmīgi pievienots grozam!</span>
</div>

</body>
</html>