<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplatePage.html">
<head>
    <meta charset="UTF-8">
    <title>Grozu produkti</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Grozu produkti</h1>
    <br>
    <a href="/cart-products/add">Pievienot produktu grozam</a>
    <br>
    <a href="/cart-products/list">Visi grozu produkti</a>
    <br>
    <a href="/cart-products/find">Meklēt groza produktu pēc ID</a>
    <br>
</div>

</body>
</html>