<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplatePage.html">
<head>
    <meta charset="UTF-8">
    <title>Par mums</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Par mums</h1>
    <br>
    <p>Laipni lūdzam mūsu picērijā – vietā, kur mīlestība pret gardu ēdienu satiekas ar kvalitatīvām sastāvdaļām un rūpīgi gatavotiem ēdieniem!</p>
    <p>Mēs esam ģimenes uzņēmums, kurš tic, ka īsta pica sākas ar svaigu mīklu, īpaši izvēlētām piedevām un tradicionālām gatavošanas metodēm. Mūsu picas tiek ceptas pēc itāļu receptēm, pievienojot arī vietējo garšu nianses, lai ikviens kodums būtu neaizmirstams.</p>
    <p>Mūsu vērtības ir vienkāršas: kvalitāte, sirsnība un prieks, ko sniedz labi paēdis viesis. Ikvienu picu mēs gatavojam ar mīlestību, un mūsu mērķis ir radīt ne tikai lielisku maltīti, bet arī patīkamu atmosfēru, kurā mūsu viesi jūtas kā mājās.</p>
    <p>Nāc ciemos un iepazīsti mūsu piedāvājumu! No klasiskās Margherita līdz mūsu īpašajām receptēm – katrs atradīs savu iecienītāko. Mēs priecājamies būt par vietu, kur draugi un ģimenes dalās kopīgos mirkļos ar gardu ēdienu un smaidu.</p>
    <h5>Yummy pizza – garšas, kas vieno!</h5>
</div>

</body>
</html>