<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{adminPage}"></title>
</head>
<body>

<h1 th:text="#{adminPage}"></h1>


<a href="/users" th:text="#{adminPage.users}"></a><br>
<a href="/carts" th:text="#{adminPage.carts}"></a><br>
<a href="/products" th:text="#{adminPage.products}"></a><br>
<a href="/cart-products" th:text="#{adminPage.cartProducts}"></a><br>
<a href="/orders" th:text="#{adminPage.orders}"></a><br>

</body>
</html>