<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplatePage.html">
<head>
    <meta charset="UTF-8">
    <title>Administratora skats</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Administratora skats</h1>
    <br>
    <h5>Lietotāji</h5>
    <a href="/users/create">Izveidot lietotāju</a>
    <br>
    <a href="/users/list">Visi lietotāji</a>
    <br>
    <br>
    <h5>Grozi</h5>
    <a href="/carts/create">Izveidot grozu</a>
    <br>
    <a href="/carts/list">Visi grozi</a>
    <br>
    <br>
    <h5>Produkti</h5>
    <a href="/products/create">Izveidot produktu</a>
    <br>
    <a href="/products/list">Visi produkti</a>
    <br>
    <br>
    <h5>Grozu produkti</h5>
    <a href="/cart-products/add">Pievienot produktu grozam</a>
    <br>
    <a href="/cart-products/list">Visi grozu produkti</a>
    <br>
    <br>
    <h5>Pasūtījumi</h5>
    <a href="/orders/create">Noformēt pasūtījumu</a>
    <br>
    <a href="/orders/list">Visi pasūtījumi</a>
    <br>
    <br>
</div>

</body>
</html>