<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>

<h1>Admin page</h1>


<h2>User</h2>

<h3>Save user:</h3>
<table>
    <tr>
        <td>First name:</td>
        <td>Last name:</td>
        <td>Email:</td>
        <td>Password:</td>
        <td>Phone:</td>
        <td>Role:</td>
    </tr>

    <tr>
        <form action="/user" th:object="${request}" method="post">
            <td><input type="text" th:field="${request.firstName}"/></td>
            <td><input type="text" th:field="${request.lastName}"/></td>
            <td><input type="text" th:field="${request.email}"/></td>
            <td><input type="password" th:field="${request.password}"/></td>
            <td><input type="text" th:field="${request.phone}"/></td>
            <td>
                <select th:field="${request.role}">
                    <option th:value="CLIENT" th:text="Client"></option>
                    <option th:value="ADMIN" th:text="Admin"></option>
                </select>
            </td>
            <td>
                <input type="submit" value="Save"/>
                <input type="reset" value="Clear"/>
            </td>
        </form>
    </tr>

</table>

<table>
    <td th:if="${errors != null}">
        <tr th:each="error : ${errors}">
            <td th:text="${error.field}" />
            <td th:text="${error.message}" />
        </tr>
    </td>
</table>

<span th:if="${response != null}" th:text="'User was added with ID ' + ${response} + '.'"></span>

</body>
</html>