<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplatePage.html">
<head>
    <meta charset="UTF-8">
    <title>Kontakti</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Kontakti</h1>
    <br>
    <h5>Kontakttālrunis: </h5><span>+371 22222222</span>
    <h5>E-pasts: </h5><span>picērija@yummypizza.lv</span>
    <br>
    <br>
    <h5>Mūs var atrast šeit:</h5>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2175.8829938752506!2d24.11374387724808!3d56.95080589908675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46eecfd3cdaa5c13%3A0xb3f8eab49071120e!2sFaculty%20of%20Computing%2C%20Rai%C5%86a%20bulv%C4%81ris%2019%2C%20Centra%20rajons%2C%20R%C4%ABga%2C%20LV-1050!5e0!3m2!1sen!2slv!4v1735410346304!5m2!1sen!2slv" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

</body>
</html>