<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplatePage.html">
<head>
    <meta charset="UTF-8">
    <title>Darbinieka skats</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Darbinieka skats</h1>
    <br>
    <h5>Lietotāji</h5>
    <a href="/users/list">Visi lietotāji</a>
    <br>
    <br>
    <h5>Produkti</h5>
    <a href="/products/create">Izveidot produktu</a>
    <br>
    <a href="/products/list">Visi produkti</a>
    <br>
    <br>
    <h5>Pasūtījumi</h5>
    <a href="/orders/list">Visi pasūtījumi</a>
    <br>
    <br>
</div>

</body>
</html>