<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{login}"></title>
</head>
<body>
    <h1 th:text="#{login}"></h1>
    <form action="/login" method='POST'>
        <label th:text="#{form.field.email} + ':'"></label><br>
        <input type='text' name='username' /><br>
        <label th:text="#{form.field.password} + ':'"></label><br>
        <input type='password' name='password' /><br>
        <span th:if="${isAuthenticationFailed == true}" th:text="#{error.emailOrPasswordIncorrect}"><br></span><br>
        <input name="submit" type="submit" th:value="#{login}"/>
    </form>
</body>
</html>