<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>
    <h1>Log in</h1>
    <form action="/login" method='POST'>
        <label>E-mail:</label><br>
        <input type='text' name='username' /><br>
        <label>Password:</label><br>
        <input type='password' name='password' /><br>
        <span th:if="${isAuthenticationFailed == true}">E-mail or password is incorrect. Try again!<br></span><br>
        <input name="submit" type="submit" value="Log in" />
    </form>
</body>
</html>