<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title th:text="#{signup}"></title>
</head>
<body>

<h1 th:text="#{signup}"></h1>

<form action="/signup" th:object="${request}" method="post">
  <label th:text="#{form.field.firstName} + ':'"></label><br>
  <input type="text" th:field="*{firstName}"/><br>
  <label th:text="#{form.field.lastName} + ':'"></label><br>
  <input type="text" th:field="*{lastName}"/><br>
  <label th:text="#{form.field.email} + ':'"></label><br>
  <input type="text" th:field="*{email}"/><br>
  <label th:text="#{form.field.password} + ':'"></label><br>
  <input type="password" th:field="*{password}"/><br>
  <label th:text="#{form.field.phone} + ':'"></label><br>
  <input type="text" th:field="*{phone}"/><br>
  <br>
  <br>

  <input type="submit" th:value="#{signup}"/>
</form>

<table th:if="${errors != null}">
  <tr th:each="error : ${errors}">
    <td th:text="${error.field}" />
    <td th:text="${error.message}" />
  </tr>
</table>

</body>
</html>